<html>
    <head>
        <link rel="stylesheet/less" type="text/css" href="/lib/bootstrap.less">
        <script src="/js/less-1.1.3.min.js" type="text/javascript"></script>
        <script src="/js/jquery-1.5.2.min.js"></script>
        <script src="/js/jquery.tablesorter.min.js"></script>
        <script src="/js/bootstrap-twipsy.js"></script>
        <script src="/js/bootstrap-scrollspy.js"></script>
        <script src="/js/bootstrap-dropdown.js"></script>
        <script src="/js/bootstrap-popover.js"></script>
        <% if @dashboard %>
          <title><%= @dashboard.title %></title>
          <meta http-equiv="refresh" content="<%= @dashboard.refresh %>">
        <% else %>
          <title>Ops Dashboard</title>
        <% end %>
    </head>
    <body style="padding-top: 80px;">
        <div class="topbar-wrapper" style="z-index: 5;">
            <div class="topbar" data-dropdown="dropdown" >
                <div class="topbar-inner">
                    <div class="container-fluid">
                        <h3><a href="/">Ops Dashboard</a></h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
                <% if @error %>
                <div class="alert-message error">
                    <%= @error %>
                </div>
                <% end %>

          <div class="row-fluid">
              <% if @dashboard %>
              <div class="span3">
                <ul class="nav nav-list">
                  <li class="nav-header">Dashboards</li>
                    <% GDash::Dashboard.each do |dashboard| %>
                    <li>
                      <% if dashboard == @dashboard %>
                        <a class="active" href="<%= dashboard_path dashboard %>"><%= dashboard.title %></a>
                      <% else %>
                        <a href="<%= dashboard_path dashboard %>"><%= dashboard.title %></a>
                      <% end %>
                    </li>
                    <% end %>
                 </ul>
              </div>
              <div class="span9">
                <%= yield %>
              </div>
              <% else %>
                <%=  yield %>
              <% end %>
          </div>
        </div>

        <div class="container-fluid">
            <h6>Updated <%= Time.now %></h6>
        </div>
    </body>
</html>
