<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <script src="/js/jquery-1.8.1.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
        <% if @dashboard %>
          <title><%= @dashboard.title %></title>
          <meta http-equiv="refresh" content="<%= @dashboard.refresh %>">
        <% else %>
          <title>Ops Dashboard</title>
        <% end %>
    </head>
    <body>
        <div class="navbar navbar-static-top navbar-inverse">
            <div class="navbar-inner">
              <a class="brand" href="/">Ops Dashboard</a>
            </div>
        </div>

        <div class="container-fluid">
                <% if @error %>
                <div class="alert-message error">
                    <%= @error %>
                </div>
                <% end %>

          <div class="row-fluid">
              <% if @dashboard %>
              <div class="span2">
                <ul class="nav nav-list">
                    <li class="nav-header">Time Range</li>
                    <% GDash::Graph::WINDOW_NAMES.each do |title| %>
                    <li><a href="<%= dashboard_path @dashboard, :window => GDash::Graph::WINDOWS[title] %>"><%= title %></a></li>
                    <% end %>
                </ul>

                <ul class="nav nav-list">
                  <li class="nav-header">Dashboards</li>
                    <% GDash::Dashboard.each do |dashboard| %>
                    <li>
                      <% if dashboard == @dashboard %>
                        <a class="active" href="<%= dashboard_path dashboard %>"><%= dashboard.title %></a>
                      <% else %>
                        <a href="<%= dashboard_path dashboard %>"><%= dashboard.title %></a>
                      <% end %>
                    </li>
                    <% end %>
                 </ul>
              </div>
              <div class="span10">
                <%= yield %>
              </div>
              <% else %>
                <%=  yield %>
              <% end %>
          </div>
        </div>

        <div class="container-fluid">
            <h6>Updated <%= Time.now %></h6>
        </div>
    </body>
</html>
