!!! 5

%html{ :lang => "en" }
  %head
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %link{ :href => "/css/bootstrap-lightbox.min.css", :rel => "stylesheet" }
    %link{ :href => "/css/gdash.css", :rel => "stylesheet" }
    %script{ :src => "/js/jquery-1.8.1.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    %script{ :src => "/js/bootstrap-lightbox.min.js" }
    %script{ :src => "/js/gdash.js" }
    %script{ :src => "/js/jquery.ba-bbq.min.js" }

    - if @dashboard
      %title= @dashboard.title
    - else
      %title GDash
    :javascript
      window.GDash = {
          refreshInterval: #{@dashboard && @dashboard.refresh || 60}
      };
  %body
    .navbar.navbar-fixed-top.navbar-inverse.fullscreen-hidden
      .navbar-inner
        %a.brand{ :href => dashboards_path } #{GDash.config.org} GDash
        %ul.nav
          - if @dashboard.present?
            %li= dashboard_nav @dashboard
        %ul.nav.pull-right
          - if @dashboard.present?
            %li
              %a{ :href => "#" }
                %i.icon-share.icon-white
            %li
              %a{ :href => "#fullscreen", :class => "fullscreen-toggle" }
                %i.icon-resize-full.icon-white
          %li
            %a{ :href => "/snapshot", :class => "snapshot" }
              %i.icon-download-alt.icon-white
          %li
            %a{ :href => docs_path } Documentation
    .container-fluid
      = yield
      .lightbox#xxlarge-lightbox.hide.fade{ :tabindex => "-1", :role => "dialog", "aria-hidden" => true }
        .lightbox-content
          %img
          %p  
    .container-fluid.fullscreen-hidden
      %h6
        Updated
        = Time.now
