!!! 5

%html{ :lang => "en" }
  %head
    %link{ :href => "/css/bootstrap.min.css", :rel => "stylesheet" }
    %script{ :src => "/js/jquery-1.8.1.min.js" }
    %script{ :src => "/js/bootstrap.min.js" }
    - if @dashboard
      %title= @dashboard.title
      %meta{ "http-equiv" => "refresh", :content => @dashboard.refresh }
    - else
      %title GDash
  %body{ :style => "padding-top: 50px;" }
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        %a.brand{ :href => dashboards_path } GDash
        %ul.nav
          %li
            %a{ :href => docs_path } Documentation
    .container-fluid
      .row-fluid
        - if @dashboard
          .span2
            .well= dashboard_nav @dashboard
          .span10
            = window_nav @dashboard, @dashboard.window
            = yield
        - else
          = yield
    .container-fluid
      %h6
        Updated
        = Time.now
